<div class="container">
	<div>
		<h4>Create a New User</h4>
		<%=form_for @user do |f|%>
			<%=f.text_field :username, placeholder:"Enter your username"%><br />
			<%=f.password_field :password, placeholder:"Enter password" %><br />
			<%=f.submit "Create New User" %>
		<% end %>
	</div>
</div>