<div class="container-fluid" id="home">
<div class="row">
	<div class="col-sm-2 col-md-2 col-lg-2"></div>
	<div class="col-sm-5 col-md-5 col-lg-5" style="margin-top:30px">
		<%= image_tag("school.jpg", :alt => "Welcome!", :class => "school") %>
	</div>
	<div class="col-sm-5 col-md-5 col-lg-5 search-stuff"> 
		<div class="font-style", style="color:#2981cf"> search for school details...</div>
		<%= form_tag schools_path, :method => 'get' do  %>
	  <%= text_field_tag :zip, params[:zip], :id => "search", :class => "form-control search-field", :placeholder => "enter zip code"%> <br />
	  <%= submit_tag 'Search', :class => "btn btn-info" %>
	<% end %>
	</div>
	</div>
	<div class="row">
		<div class="grass">
			
		</div>
	</div>
	    <footer> ~ Made for Parents by Parents ~ </footer>

</div>


		   


