<ul>
	<li>what is a charter school?</li>
	<li>what is a magnet school? </li>
	<li>charter vs. magnet</li>
	<li>kumon</li>
	<li>after school programs?</li>
	<li>code.org reference</li>
	<li>http://www.maa.org/math-competitions
			practice test that prepare for it
			https://www.artofproblemsolving.com/Wiki/index.php/AMC_12_Problems_and_Solutions
			link to book for problems
			http://www.artofproblemsolving.com/
			http://en.wikipedia.org/wiki/United_States_of_America_Mathematical_Olympiad
			united states of america mathematical olympiad</li>
</ul>

