@import "bootstrap";

#map-canvas {
	height: 500px;
	width:  500px;
	margin: 0 auto;
}

.row {
	font-family: Helvetica;
}

#school-basics {
	border: 1px solid lime;
	height: 500px;
	width: 500px;
	margin-left: 70px;
}

#school-address {
	border: 1px solid lime; 
	height: 500px;
	width: 500px;
}

.class {
	max-width: 100%;
}