@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Spicy+Rice);


#logo {
	font-family: 'Spicy Rice', cursive;
	font-size: 25px;
	color: #2981cf;
}

.font-style {
	font-family: 'Spicy Rice', cursive;
	font-size: 16px;
	color: #573333;
}

.font-style-two {
	font-family: 'Spicy Rice', cursive;
	font-size: 16px;
	color: #2981cf;
	text-align: center;
	font-size: 25px;
}
#nav {
	background-color: #b2eded;
}

#home {

}

#search {
	width: 35%;
}

.search-field, .search-button {
	float: left;
	margin: 0 5px;
	padding-top: 2%;
	font-family: Helvetica;
}
.search-field {
	padding-left: 19%;
}

.login-field {
	width: 10%;
}

.search-button {
	width: 18%;
	margin: -20px;
	margin-left: 20px;
}

.search-stuff {
	padding: 10%;
}

.grass {
	background-color: #47a447;
	width: 100%;
	height: 125px;
	margin-top: -30px;
}

#school {
	height: 30px;
	width: 30px;
}

#map-canvas {
	height: 400px;
	width:  400px;
	margin: 0 auto;
	border: 10px solid #b2eded;
}

#legend {
  font-family: Arial, sans-serif;
  padding-left: 35%;
}

.row {
	font-family: Helvetica;
}

#school-basics {
	padding-left: 5%;
}

#school-address {
	margin: 0 auto;
	padding-left: 4%;
}

.chalkboard-address {
	padding-left: 10%; 
	background-color: green; 
	width: 80%;
	border: 10px solid #CD853F;
	color: white;
}

.chalkboard-basic {
	background-color: green;
	color: white;
	border: 10px solid #CD853F;
	padding-left: 10%;
	width: 90%;
}

.review {
	border: 1px dotted red;
}

.class {
	max-width: 100%;
}

.link {
  text-decoration: none;
}

h4 > a {
	font-size: 13px;
}

footer {
	font-family: 'Spicy Rice', cursive;
  font-size: 1.5em;
  width: 100%;
  bottom: 0;
  position: fixed;
  color: white;
  text-align: center;
 }