<div class="container">
	<h4>Review for <%#= @school.name %></h4>
			<%= form_for [@school, @review] do |f| %>
				<%= f.text_area :text %><br />
				<%= f.submit 'submit review' %> <br />
			<% end %>
			<br />
		<%= link_to "return home", school_path(params[:school_id])%>
</div>

 